@import '@vuepress-denaro/core/lib/styles/variables.scss';
@import '@vuepress-denaro/core/lib/styles/mixins';

@include b(#{$classPrefix}) {
  &flowchart {
    text-align: center;
    font-size: 0px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 10px;

    & > svg {
      max-width: 100%;
      height: auto;
    }

    &.loading {
      background-color: #f3f6f8;
    }

    &-loading-icon {
      width: 40px;
      height: 40px;
      fill: #3eaf7c;
    }
  }
}
